#need to install zlib1g-dev libxml2 libxml2-dev libxslt-dev build-essential python-dev
Pillow==10.0.0
pypdf==3.16.0
argparse==1.4.0
cssselect==1.2.0
lxml==4.9.3
reportlab==4.0.4
requests==2.31.0
tqdm==4.66.1